<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordNote.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WordNote.Properties.Settings>
            <setting name="programmName" serializeAs="String">
                <value>WordNote</value>
            </setting>
            <setting name="newDocName" serializeAs="String">
                <value>New Document</value>
            </setting>
            <setting name="statusBarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="textWordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="textFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="formWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="formHeight" serializeAs="String">
                <value>400</value>
            </setting>
        </WordNote.Properties.Settings>
    </userSettings>
</configuration>